body {
    background-color: #cccccc;
    text-align: center;
}

#footer {
    height: 60px;
    position: relative;
    margin: 20px auto;
}

#scoreboard {  
    border-radius: 6px;
    background-color: #666;
    color: white;
    font-family: Lucida Console, monospace;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
}

#nextballs-container {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
}
#scoreboard-container {
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}
